In [3]:
print("hi")

hi

In [3]:
print("hello\
python")

hellopython

In [4]:
print("""hello natasha""")

hello natasha

In [8]:
print('python\'s code')

python's code

In [17]:
name = "venkatesh"
marks = "80.5"
age = "21"
print("the name is ", name, "marks is", marks, "age", age)

the name is  venkatesh marks is 80.5 age 21

In [9]:
a = 10
b = 10.97
print(a)
print(b)

10
10.97

In [10]:
a = 89
b = float(a)
print(b)

89.0

In [11]:
k = str(a)
print(k)

89

In [12]:
print(type(k))

<class 'str'>

In [13]:
k = 12345.1234567890123456789
print(k)

12345.123456789011

In [ ]:
a = input("enter the value")
print (val)
print (type(val))

In [2]:
 n = 5
sum = 0
for num in range(0, n+1, 1):
    sum = sum+num
print("SUM of first ", n, "numbers is: ", sum )

SUM of first  5 numbers is:  15

In [3]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 5
5 is a prime number